<div>
    <p>{{title}}</p>
    <span>{{price}}<span>
            <img src="{{img}}" alt="{{name}}">
            {{#unless isAvailable}}
            <button>Немає в наявності</button>
            {{/unless}}
</div>